<div class="panel left" data-role="panel" data-position="left" data-display="overlay" id="panel-01">  
    <ul>  
        <li class="newsfeed"><a href="#goonline" title="GoOnline">GoOnline</a></li>  
        <li class="profile"><a href="#profile" title="Profile">Profile</a></li>  
        <li class="setting"><a href="#radar" title="Radar">Radar</a></li>  
        <li class="logout"><a href="#advert" title="Advert">Advert</a></li>   
    </ul>  
</div> 
<div class="header" data-role="header">  
    <span class="open left"><a href="#panel-01">&#61641;</a></span>  
    <span class="title">LeviApp</span>    
</div>  